* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,
body {
    height: 100%;
    font-family: 
    overflow-x: hidden;

} */
body {
    font-family: 'Roboto', 'Noto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    margin: 0 auto;
    /* min-height: 100vh; */
    /* flex: 1; */
    box-sizing: border-box;
    overflow-y: hidden;
}

.shop-head {
    text-decoration: none;
    color: #000;
}

.shop-head1 {
    text-decoration: none;
    color: #000;
}

.nav {
    height: 7vh;
    width: 90%;
    /* position: relative; */
    /* text-align: center; */
    font-weight: 600;
    letter-spacing: 0.3em;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-top: 2.6px;
    font-family: 'Roboto', 'Noto', sans-serif;
    /* position: static; */
}

.nav1 {
    height: 7vh;
    width: 90%;
    /* position: relative; */
    /* text-align: center; */
    font-weight: 600;
    letter-spacing: 0.3em;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-top: 2.6px;
    font-family: 'Roboto', 'Noto', sans-serif;
    /* position: static; */
}

.left-arrow-a {
    /* position: absolute; */
    left: 20px;
    color: #000;
}

.shop-class {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu-icon {
    width: 18px;
    height: 12px;
    /* position: absolute;
    left: 27px;
    bottom: 25px; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.menu-icon span {
    display: block;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.cart-icon {
    /* position: absolute; */
    right: 25px;
    bottom: 20px;
    /* width: 40px; */
}

h2 {
    font-size: 1.3em;
    font-weight: 500;
    margin: 32px 0;
    line-height: 1.5;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.a1 {
    color: black;
    text-decoration: none;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.image-size {
    width: 100vw;
    height: 240px;
    /* Adjust based on how tall you want the crop */
    overflow: hidden;
}

.image-size1 {
    /* width: 100vw; */
    height: 240px;
    /* Adjust based on how tall you want the crop */
    overflow: hidden;
    /* display: none; */
}

.mensOuterwear-img1 {
    /* width: 100vw; */
    /* width: 1440px; */
    /* height: auto; */
    height: 100%;
    object-fit: contain;
    display: block;
}

.button-button {
    margin-top: -6px;
    margin-bottom: -2px;
}

.button-format1 {
    font-size: 15px;
    margin-top: -22px;
}

.button-button1 {
    margin-top: 2px;
    padding: 3px;
    height: 45px;
}

.tshirts-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1440px;
    height: 240px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}


.tshirts-row img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

#hidding-image {
    display: none;
}

.separate-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1450px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    border: none;
}

.home-button {
    margin-top: 20px;
    padding: 10px 50px;
    background-color: white;
    border: 2px solid;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;

}

/* .home-button1 {
    margin-top: 20px;
    padding: 10px 50px;
    background-color: white;
    border: 2px solid;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;

} */

.label1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: -20px;
}

.home-button1 {
    margin-top: 20px;
    padding: 10px 26px;
    background-color: white;
    border: 2px solid;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    /* left: 8px; */
}

.demo {
    padding: 11px 21px;
    background-color: black;
    border: 1px solid;
    cursor: text;
    font-weight: 500;
    font-size: 13px;
    color: white;
    margin-top: 12px;
    position: relative;
    bottom: -0.9px;
}

.footer {
    text-align: center;

}


.a2 {
    color: #5a5555be;
    text-decoration: none;
    font-size: 13px;
}

.heading-items {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 17px;
}

.cart-heading-items {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
}

.checkout-heading-items {
    margin-top: 1px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.checkout-heading-items p {
    font-size: 14.5px;
}

.checkout-heading-price {
    font-size: 12px;
    color: #423f3fbe;
    margin-top: 2px;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.heading-title {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.heading-price {
    font-size: 12px;
    color: #5a5555be;
}

.cart-price1 {
    font-size: 14px;
    color: rgba(44, 10, 10, 0.589);
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
}

.Item-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "shirt1 shirt2"
        "shirt3 shirt4"
        "shirt5 shirt6"
        "shirt7 shirt8"
        "shirt9 shirt10"
        "shirt11 shirt12"
        "shirt13 shirt14"
        "shirt15 shirt16";
    justify-items: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    row-gap: 5px;
    margin-top: 1px;
    /* min-height: 100vh; */
}

.a2-text {
    color: #5a5555be;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
    /* color: #000; */

}

.Item-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 10px;
    margin-top: -5px;
}

.header {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* .header1{
    display: none;
} */

.Item-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-family: 'Roboto', 'Noto', sans-serif;
    letter-spacing: 0.5px;
    /* padding: 9px 5px; */
    font-weight: 300;
    margin: 0 5px;
    line-height: 1.5;
    /* margin: 0 10px; */
    color: #000;
}


.underline {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    color: black;
}

.head-image {
    width: 100%;
    /* Prevent image from shrinking automatically */
    position: relative;
    left: 50%;
    /* Push image center to screen center */
    transform: translateX(-50%);
    /* Pull image back by half its width */
    margin-top: 20px;
    margin-bottom: 20px;
}

.head-imgwrapper {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.shirt1 {
    grid-area: shirt1;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}



.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11,
.img12,
.img13,
.img14,
.img15,
.img16 {
    width: 100%;
    height: 100%;
}

.shirt2 {
    grid-area: shirt2;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt3 {
    grid-area: shirt3;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt4 {
    grid-area: shirt4;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt5 {
    grid-area: shirt5;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt6 {
    grid-area: shirt6;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt7 {
    grid-area: shirt7;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt8 {
    grid-area: shirt8;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt9 {
    grid-area: shirt9;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt10 {
    grid-area: shirt10;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt11 {
    grid-area: shirt11;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt12 {
    grid-area: shirt12;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt13 {
    grid-area: shirt13;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt14 {
    grid-area: shirt14;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt15 {
    grid-area: shirt15;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.shirt16 {
    grid-area: shirt16;
    cursor: pointer;
    line-height: 1.5;
    margin: 4px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.desc-small {
    font-size: 13px;
    line-height: 1.5;
}

.description1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
}

.title1 {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.price {
    font-size: 13px;
    color: rgba(23, 13, 13, 0.509);
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
}

.price1 {
    font-size: 13px;
    color: black;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
}

.single-container {
    display: flex;
    flex-direction: column;
    /* Stack vertically on small screens */
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: 30px;
}

.single-item {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: auto;
    max-width: 100%;
    width: 90%;
    /* Scales image width based on screen */
    max-width: 350px;
    height: auto;
    /* Keeps image ratio */
    object-fit: contain;
}

.feature-class {
    margin-left: 40px;
    line-height: 1.5;
}

.selection-divs {
    width: 95%;
    max-width: 100%;
    margin-top: -15px;
}

.desc {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;

}

.checkout-divs1 {
    width: 100%;
    /* min-width: 100%; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin-top: -48px;
}

.checkout-divs2 {
    width: 96%;
    box-sizing: border-box;
    margin-top: 20px;
}

.pickers {
    border: 1px solid rgba(53, 49, 49, 0.676);
    margin-top: 15px;
    display: flex;
    flex-direction: column;

}

.text {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.description-content {
    font-size: 13px;
    font-family: 'Roboto', 'Noto', sans-serif;
    color: rgba(53, 49, 49, 0.676);
    padding-top: 10px;
    margin-top: -20px;
}

.description-content>h2 {
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.description-content .desc-small {
    margin-top: -30px;
}

.product-detail {
    width: 300px;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.product-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
}

.product-price {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.hr-tag1 {
    /* color: #e6e2e2;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    border: none; */
    border: none;
    height: 1px;
    background: #d1cdcd;
    width: 100%;
    margin: 10px auto;
}

.data-label {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #999;
    width: 97%;
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-arrow {
    font-size: 2.2em;
    position: absolute;
    left: 20px;
    bottom: 16px;
    cursor: pointer;
    text-decoration: none;
    width: 10px;
}

.arrow {
    text-decoration: none;
    color: black;
    width: 100%;
}

.sizeSelect {
    width: 90%;
    /* padding: 10px; */
    background: none;
    border: none;
    padding: 0;

    padding-top: 6px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 6px;
    box-sizing: border-box;
    margin-left: 38px;
}

.quantitySelect {
    width: 74%;
    /* padding: 10px; */
    background: none;
    border: none;
    padding-top: 6px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 6px;
    box-sizing: border-box;
    margin-left: 5px;
}

.fixed-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* height: 36px; */
    background-color: #050550;
    font-weight: 500;
    font-size: 15px;
    color: white;
    border: 2px solid #000;
    padding: 23px 35px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.fixed-btn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */

    background-color: white;
    font-weight: 500;
    font-size: 15px;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    text-decoration: none;
    /* overflow-x: hidden; */
    z-index: 1000;
    display: block;
}

.cart-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;
    min-height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.cartTotal-div-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 10px;
}

.image-data {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    white-space: nowrap;
    width: 100%;
    gap: 10%;
}

.image-data>p {
    width: 50%;
}

.cart-class1-mobile {
    display: flex;
    min-width: 90%;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 8px;
    margin: 5px 0;
    margin-top: 0px;
    /* gap: 50px; */
}

.cart-class1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    width: 100%;
    /* padding-top: 8px; */
    margin: -2px;
}

.cartItem-details {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    align-content: center;
    width: 80%;
    /* align-self: center; */
    /* width: 50%;
    max-width: 100%;*/

}

.cart-select {
    width: 60%;
    padding: 0;
    /* padding-left: 15px; */
    background: none;
    border: none;
    /* padding-top: 8px; */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /* padding-bottom: 8px; */
}

.cart-measurements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cart-image {
    height: 72px;
    width: 72px;
    margin-right: 10px;
}

.remove-cart {
    display: flex;
    align-self: flex-start;
    margin-right: 13px;
}

.font-h5 {
    margin-top: 20px;
}

.side-feilds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 5px;
    width: 100%;
}

.remove {
    color: #999;
    font-size: 26px;
    cursor: pointer;
}

.total>h5 {
    font-size: 13px;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.total-calc {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    margin-top: 20px;
    margin-right: 3px;
}

.cart-footer {
    margin-top: 200px;
    text-align: center;
}

.checkout-container {
    margin: 10px auto;
    font-family: 'Roboto', 'Noto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 0px 10px;
    /* margin: 8px; */
}

.checkout-divs {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    /* /* margin-bottom: 20px; */
    margin-top: -33px;
}

.adjust-font {
    font-size: 13px;
}

.form-class {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 15px;
    width: 96%;
    box-sizing: border-box;
    margin-top: 40px;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

.billing-font-h5 {
    margin-top: 15px;
    margin-bottom: 15px;
}


.checkbox-container {
    display: flex;
    align-content: center;
    gap: 8px;
    /* optional spacing between checkbox and text */
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    /* Thicker border */
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
}

.form-group label {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: 0.3s ease all;
}

.single-button3 {
    display: none;
}

/* Line highlight on focus */
.form-group input:focus {
    border-bottom: 2px solid black;
}

/* Floating label on focus or when input has value */
.form-group input:focus+label,
.form-group input:valid+label {
    top: -10px;
    font-size: 12px;
    color: black;
}

.form-font1 {
    font-size: 17px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    padding-top: 5px;
}

.form-font-div {
    margin-top: -25px;
}

.form-font {
    font-size: 14px;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    width: 100%;
    padding-top: 26px;
}

.form-country {
    width: 100%;
    padding-left: 0px;
    background: none;
    border: none;
    border-bottom: 1px solid #999;
    color: #433b3b;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}

.form-expiry {
    width: 100%;
    max-width: 400px;
    padding-left: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #999;
    color: #433b3b;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;

}

.expiry-data {
    background: none;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 16px;
    margin-top: -3px;
}

.expiry-class {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    gap: 10px;
    margin-top: -40px;
}

.form-group {
    max-width: 490px;
}

.form-group-small {
    width: 350px;
    margin-right: 10px;
    /* margin-bottom: 10px; */
    /* margin-top: -5px; */

}

.expiry-class {
    display: flex;
    gap: 12px;
    align-items: flex-end;
    margin-top: -18px;
    /* Aligns bottom of selects and input */
}

/* Common styling for all fields inside expiry */
.form-expiry,
.form-group-small input {
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid #999;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Fix width to be similar */
.form-expiry,
.form-group-small {
    width: 100%;
    max-width: 130px;
    padding-left: 0px;
}



/* Position label inside form-group-small */
.form-group-small {
    position: relative;
}

.form-group-small label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease all;
}

.form-group-small input:focus+label,
.form-group-small input:valid+label {
    top: -10px;
    font-size: 12px;
    color: black;
}


.order-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.ordersummary {
    margin-top: 5px;
}

.summary-title {
    font-size: 13px;
    margin-top: 1px;
}

.cart-button3 {
    display: none;
}

@media (min-width: 768px) and (max-width: 2560px) {
    .Item-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "shirt1 shirt2 shirt3"
            "shirt4 shirt5 shirt6"
            "shirt7 shirt8 shirt9"
            "shirt10 shirt11 shirt12"
            "shirt13 shirt14 shirt15"
            "shirt16 . .";
        justify-items: center;
        align-items: center;
        margin-left: 200px;
        margin-right: 200px;
        box-sizing: border-box;
        margin-top: -0px;
        box-sizing: border-box;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8,
    .img9,
    .img10,
    .img11,
    .img12,
    .img13,
    .img14,
    .img15,
    .img16 {
        width: 100%;
        height: 100%;
    }

    .shirt1 {
        grid-area: shirt1;
        cursor: pointer;
        /* margin: 200px; */
    }

    .shirt2 {
        grid-area: shirt2;
        cursor: pointer;
        /* margin: 100px; */
        /* margin: 200px; */
    }

    .shirt3 {
        grid-area: shirt3;
        cursor: pointer;
        /* margin: 200px; */
    }

    .shirt4 {
        grid-area: shirt4;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt5 {
        grid-area: shirt5;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt6 {
        grid-area: shirt6;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt7 {
        grid-area: shirt7;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt8 {
        grid-area: shirt8;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt9 {
        grid-area: shirt9;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt10 {
        grid-area: shirt10;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt11 {
        grid-area: shirt11;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt12 {
        grid-area: shirt12;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt13 {
        grid-area: shirt13;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt14 {
        grid-area: shirt14;
        cursor: pointer;
        /* width: 75%; */
    }

    .shirt15 {
        grid-area: shirt15;
        cursor: pointer;

    }

    .shirt16 {
        grid-area: shirt16;
        cursor: pointer;
        /* width: 75%; */
    }

    .Item-container>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        padding: 9.5px;
    }

    .home-button {
        display: inline block;
        box-sizing: border-box;
        text-align: center;
        /* margin-top: 18px; */
        /* margin: 0; */
        margin-top: 15px;
        padding: 10.5px 44px;
        background-color: white;
        border: 2px solid #000;
        cursor: pointer;
        font-weight: 500;
        font-size: 13px;
        text-decoration: none;
    }

    .home-button1 {
        margin-top: 20px;
        padding: 10px 40px;
        background-color: white;
        border: 2px solid;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        position: relative;
        /* left: 8px; */
    }

    .left-arrow {
        color: #202020;
        text-decoration: none;
        margin: 10px;
        margin-left: 0px;
        margin-right: 30px;
        font-size: 40px;
    }

    /* .left-arrow {
        font-size: 3em;
        position: absolute;
        left: 10px;
        bottom: 11px;
        cursor: pointer;
        text-decoration: none;
    } */

    .arrow {
        text-decoration: none;
        color: black;
    }

    .left-arrow-a i {
        font-size: 20px;
        color: black;
        padding: 10px;
    }


    .header {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .header1 {
        margin-top: 20px;
        /* margin-bottom: 5px; */
    }

    .button-format {
        font-size: 17px;
        margin-top: -2.5px;
    }

    .button-format1 {
        font-size: 14px;
    }

    .button-button {
        margin-top: 1px;
    }

    .button-button1 {
        margin-top: 20px;

    }

    .shop-class {
        margin: 0 10.5px;
    }

    .shop-class1 {
        color: black;
        cursor: pointer;
        text-decoration: none;
        /* padding-bottom: 4px; */
        margin: 0 10.5px;
    }

    .home-button:hover {
        display: inline block;
        box-sizing: border-box;
        text-align: center;
        margin-top: 15px;
        /* margin: 0; */
        padding: 10.5px 44px;
        background-color: white;
        border: 2px solid #000;
        cursor: pointer;
        font-weight: 500;
        font-size: 13px;
        text-decoration: none;
        color: black;
    }

    .single-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        /* width: 1440px;
        height: 728px; */
        min-height: 100vh;
        gap: 50px;
        margin-top: 60px;
    }

    .hr-tag1 {
        /* color: lightgrey;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 6px 0; */
        border: none;
        /* Remove default border */
        border-top: 1px solid lightgrey;
        /* Set desired color */
        margin: 6px 0;
        width: 100%;
        box-sizing: border-box;
    }

    .text {
        margin-top: 20px;
        font-size: 25px;
        font-family: 'Roboto', 'Noto', sans-serif;
    }

    .price1 {
        font-size: 15px;
        color: rgba(44, 10, 10, 0.589);
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 1.5;
    }

    .cart-price1 {
        font-size: 16px;
        color: rgba(44, 10, 10, 0.589);
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .cart-icon {
        position: absolute;
        right: 18px;
        top: 12px;
        /* width: 40px; */
    }

    .image-div {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .about-item {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .selection-divs {
        width: 100%;
        max-width: 100%;
        margin-top: -5px;
    }

    .sizeSelect {
        width: 85%;
        padding: 10px;
        background: none;
        border: none;
        padding-top: 8px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        padding-bottom: 8px;
        box-sizing: border-box;
        max-width: 100%;
        padding-left: 0px;
    }

    .quantitySelect {
        width: 82%;
        padding: 10px;
        background: none;
        border: none;
        padding-top: 8px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        padding-bottom: 8px;
        box-sizing: border-box;
        padding-left: 0px;
    }


    .feature-class {
        margin-left: 40px;
        line-height: 1.5;
        font-size: 13px;
        width: 80%;
    }

    .cart-container {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        max-width: 900px;
        /* margin: 0 auto; */
        margin-left: auto;
        margin-right: auto;
        /* margin-top: -2px; */
        /* padding: 40px 20px; */
        padding: 5px 10px;
        min-height: 100vh;
        box-sizing: border-box;
        gap: 15px;
    }

    .cart-class1-laptop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        gap: 10px;
    }

    .cart-class2,
    .cart-class3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-top: -5px;
    }

    .cart-class1-mobile,
    .cart-class2-mobile,
    .cart-class3-mobile {
        display: none;
    }

    .image-size {
        width: 100vw;
        /* height: 250px; */
        /* Adjust based on how tall you want the crop */
        height: 340px;
        overflow: hidden;
    }

    .cartItem-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 50%;
        max-width: 100%;

    }

    .image-data {
        display: flex;
        justify-self: center;
        align-self: center;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
    }

    .cart-image-data {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
    }

    .cart-select {
        width: 60%;
        padding-left: 15px;
        background: none;
        border: none;
        padding-top: 8px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        padding-bottom: 8px;
    }

    /* .cart-measurements {
        max-width: 100%;
        width: 50%;
    } */

    .cart-measurements {
        display: flex;
        align-items: center;
        column-gap: 6rem;

        margin: 0;
        padding: 0;
    }

    .menu-icon {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 30px;
        width: 100%;
        max-width: 100%;
        /* overflow-x: hidden; */
        margin: 0;
        padding: 0;
    }

    .image-size {
        /* width: 100vw;
        height: 250px;
        overflow: hidden; */
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }

    .image-size1 {
        display: flex;
        justify-content: center;
        width: 100vw;
        max-width: 100%;
        /* overflow: hidden; */
        height: auto;
        margin-top: 22px;
        box-sizing: border-box;
        object-fit: contain;
        object-position: center;
    }

    .mensOuterwear-img {
        display: block;
        width: 1440px;
        max-width: 100%;
        height: 360px;
        object-position: center;
    }

    .footer {
        margin-top: 10px;
        text-align: center;
    }

    .footer1 {
        margin-top: 15px;
        text-align: center;
    }

    .mensOuterwear-img1 {
        display: block;
        width: 1440px;
        max-width: 100%;
        height: auto;
        object-position: center;
    }

    .heading-title {
        font-size: 17px;
        text-align: center;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
    }

    .separate-label {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        width: 100%;
    }

    .label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        margin-bottom: -7px;
    }


    .tshirts-row {
        /* margin: 0 360PX; */
        /* margin-top: 16px;  */
        width: 1440px;
        max-width: 100%;
        height: 320px;
        object-position: center;
        margin-top: 17px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0;

    }


    .tshirts-row img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        padding: 0;
        margin: 0;
        display: block;
    }

    /* .tshirts-row {
        flex-direction: row;
        height: auto;
        margin-top: 20px;
    }

    .tshirts-row img {
        width: 50%;
        height: 319px;
    } */

    .label1 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 0 10px;
        width: 20%;
        box-sizing: border-box;
        margin-top: -16px;
        margin-bottom: -16px;
    }

    .heading-items {
        margin-top: 32px;
        font-size: 15px;
        font-weight: normal;

    }

    .cart-heading-items {
        margin-top: 60px;
        font-size: 15px;
        font-weight: normal;
        text-align: center;
        line-height: 1.5;
    }

    .checkout-heading-items {
        margin-top: 62px;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .checkbox-container {
        display: flex;
        align-content: center;
        gap: 8px;
        /* optional spacing between checkbox and text */
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        /* Thicker border */
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        margin-right: 10px;
    }

    .checkout-heading-items p {
        font-size: 17px;
    }

    .checkout-heading-price {
        font-size: 13px;
        color: #5a5555be;
        margin-top: 4px;
    }

    .heading-price {
        font-size: 12px;
        color: #5a5555be;
    }

    .checkout-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* height: 100vh; */
        padding-left: 70px;
        overflow-x: hidden;
    }

    .remove-cart {
        display: flex;
        align-self: center;
    }

    /* .cart-image-icon{
        max-width: none;
        margin-left: 20px;
        margin-right: 30px;
    } */

    .cart-image-icon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        gap: 18px;
    }

    .cart-image {
        height: 72px;
        width: 72px;
        margin: 5px;
    }

    /* .checkout-divs1 {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        box-sizing: border-box;
    } */

    .single-item {
        /* width: 400px;
        height: 550px; */
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: -40px;
    }

    /* .checkout-divs {
        flex: 1; 
        max-width: 480px;
        margin: 0 20px;
    } */

    .title1 {
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.5;
    }

    .checkout-divs1 {
        width: 600px;
        height: 600px;
        margin-top: 30px;
    }

    .checkout-divs2 {
        /* width: 48%;
        margin: 0; */
        width: 400px;
        height: 600px;
        margin-top: -10px;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 82px;
    }

    .description-content {
        font-size: 13px;
        font-family: 'Roboto', 'Noto', sans-serif;
        color: rgba(53, 49, 49, 0.676);
        padding-top: 10px;
    }

    .description-content>h2 {
        font-weight: bold;
        font-size: 13px;
        color: black;
        margin-top: 35px;
    }

    .form-class {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: space-around;
        gap: 40px;
        padding: 0 30px;
        margin-top: 74px;
    }

    .checkbox-data {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .adjust-font {
        font-size: 13px;
        margin-bottom: -15px;
    }

    .form-font1 {
        font-size: 14px;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #999;
        outline: none;
        padding-top: 6px;
    }

    .form-font-div {
        margin-top: -30px;
    }

    .form-font {
        font-size: 13px;
    }

    .expiry-data {
        margin-top: -25px;
    }

    .expiry-class {
        display: flex;
        flex-direction: row;
        justify-items: space-between;
        align-items: center;
        gap: 10px;
        margin-top: -35px;
    }

    .billing-font-h5 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ordersummary {
        margin-top: 15px;
    }

    .form-country {
        width: 100%;
        padding-left: 0px;
        background: none;
        border: none;
        border-bottom: 1px solid #999;
        color: #433b3b;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        padding-bottom: 3px;
    }

    /* .form-class {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: space-around;
        gap: 40px;
        padding: 0 30px;
    } */

    .form-group {
        max-width: 490px;
    }

    .form-group-small {
        width: 350px;
        margin-right: 10px;
        /* margin-bottom: 10px; */
        /* margin-top: -5px; */

    }

    .expiry-class {
        display: flex;
        gap: 12px;
        align-items: flex-end;
        margin-top: -18px;
        /* Aligns bottom of selects and input */
    }

    /* Common styling for all fields inside expiry */
    .form-expiry,
    .form-group-small input {
        height: 40px;
        font-size: 16px;
        padding: 0 10px;
        border: none;
        border-bottom: 1px solid #999;
        background: transparent;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
    }

    /* Fix width to be similar */
    .form-expiry,
    .form-group-small {
        width: 100%;
        max-width: 130px;
        padding-left: 0px;
    }



    /* Position label inside form-group-small */
    .form-group-small {
        position: relative;
    }

    .form-group-small label {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #999;
        font-size: 16px;
        pointer-events: none;
        transition: 0.3s ease all;
    }

    .form-group-small input:focus+label,
    .form-group-small input:valid+label {
        top: -10px;
        font-size: 12px;
        color: black;
    }

    .fixed-btn1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;

        background-color: white;
        font-weight: 500;
        font-size: 15px;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        width: 100%;
        max-width: 300px;
        text-align: center;
        font-family: 'Roboto', 'Noto', sans-serif;
        text-decoration: none;
        /* overflow: hidden; */
    }

    .fixed-btn1:hover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;

        background-color: black;
        font-weight: 500;
        font-size: 15px;
        color: white;
        border: 2px solid black;
        padding: 10px 20px;
        width: 100%;
        max-width: 300px;
        text-align: center;
        font-family: 'Roboto', 'Noto', sans-serif;
        text-decoration: none;
        /* overflow: hidden; */
    }

    .fixed-btn2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;

        background-color: white;
        font-weight: 500;
        font-size: 15px;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        width: 90%;
        max-width: 300px;
        text-align: center;
        font-family: 'Roboto', 'Noto', sans-serif;
        text-decoration: none;
        box-sizing: border-box;
        cursor: default;
    }

    .fixed-btn2:hover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        font-size: 15px;
        border: 2px solid black;
        padding: 10px 20px;
        width: 90%;
        max-width: 300px;
        text-align: center;
        font-family: 'Roboto', 'Noto', sans-serif;
        text-decoration: none;
        box-sizing: border-box;
        cursor: default;
        background-color: black;
        color: white;
    }

    .cart-fixed-btn {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #050550;
        font-weight: 500;
        font-size: 15px;
        color: white;
        border: 2px solid #000;
        padding: 21px 35px;
        width: 50%;
        text-align: center;
        font-family: 'Roboto', 'Noto', sans-serif;
    }

    .cartTotal-div-laptop {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        gap: 50px;
        margin-top: 10px;
    }

    .total {
        font-size: 16px;
    }

    .total-calc {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        gap: 25px;
        margin: 10px;
        margin-top: 15px;
    }

    .cart-button {
        display: flex;
        justify-content: center;
        width: 45%;
        max-width: 100%;
        margin-top: 7px;
        height: auto;
    }

    .checkout-button {
        display: flex;
        justify-content: center;
        width: 58%;
        max-width: 100%;
        margin-top: 7px;
        height: auto;
    }

    .checkout-button1 {
        display: flex;
        justify-content: center;
        width: 20%;
        max-width: 100%;
        margin-top: 8px;
        height: auto;
    }

    .checkout-button1:hover {
        display: flex;
        justify-content: center;
        width: 20%;
        max-width: 100%;
        margin-top: 10px;
        height: auto;
    }

    .cart-checkout-button1 {
        display: none;
    }

    .checkout-button3 {
        display: flex;
        justify-content: center;
        width: 40%;
        max-width: 100%;
        margin-top: 7px;
        height: auto;
    }

    .cart-button3 {
        display: flex;
        justify-content: center;
        width: 50%;
        max-width: 100%;
        margin-top: 7px;
        height: 33px;

    }

    .single-button3 {
        display: flex;
        justify-content: center;
        width: 50%;
        max-width: 100%;
        margin-top: 3px;
        height: 35px;

    }

    .desc {
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 1.5;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin-top: -30px;
    }

    .fixed-btn {
        display: none;
    }

    .desc-small {
        display: none;
    }

    .data-label {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: #999;
        width: 97%;
        max-width: 1440px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .demo {
        padding: 10px 20px;
        background-color: black;
        border: 1px solid;
        cursor: text;
        font-weight: 500;
        font-size: 13px;
        color: white;
        margin-top: 12px;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .demo1 {
        padding: 10px 20px;
        /* padding: 6px; */
        background-color: black;
        border: 1px solid;
        cursor: text;
        font-weight: 500;
        font-size: 13px;
        color: white;
        margin-top: 12px;
        /* max-height: 100vh; */
    }

    .a2-text {
        color: #5a5555be;
        text-decoration: none;
        font-size: 13.5px;
        font-family: 'Roboto', 'Noto', sans-serif;
        /* color: #000; */

    }

    .cartTotal-div-mobile {
        display: none;
    }

    .cart-footer {
        margin-top: auto;
        text-align: center;
    }

    #hidding-image {
        display: flex;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shop-head {
        margin-left: 144px;
    }

    .shop-head1 {
        margin-left: 102px;
    }


    footer button {
        position: relative;
        bottom: -10px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .header {
        display: none;
    }

    .header1 {
        display: none;
    }

    .head-image {
        display: none;
    }

    .fixed-btn1 {
        display: none;
    }

    .a21,
    .demo1 {
        display: none;
    }

    .desc {
        display: none;
    }

    /* .image-size1 {
        display: none;
    } */

    .cart-class1-laptop,
    .cart-class2-laptop,
    .cart-class3-laptop {
        display: none;
    }

    .cart-footer {
        display: none;
    }

    .cartTotal-div-laptop {
        display: none;
    }
}

@media (width: 320px) {
    .cart-measurements {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        margin: 0;
        padding: 0;
        margin-top: -20px;
    }

    /* .image-size1 {
        display: none;
    } */

    .cart-select {
        width: 60%;
        padding-left: 7px;
        background: none;
        border: none;
        /* padding-top: 8px; */
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        height: 25px;
    }

    .cartTotal-div-mobile {
        margin-top: 20px;
    }

    .cart-button3 {
        display: none;
    }
}